.container{
    margin-top: 30px;
}

thead{
    background-color: #43ac6a;
    border-color: #3c9a5f;
    color: white;
}

.textCenter{
      text-align: center;
}

a:hover { 
    background: blue;
    color: white;
}