thead{
    background-color: #43ac6a;
    border-color: #3c9a5f;
    color: white;
}

.textCenter{
      text-align: center;
}

.table td, .table th{
    padding: 0.45rem;
}

a:hover { 
    background: blue;
    color: white;
}